
.iconos{
	margin-right:10px !important;
}
.title-card{
	font-size: 26px !important;
}
.vacantes{
	border-radius: 4px;
    --padding-top: 0;
    --padding-bottom: 0;
    --padding-start: 1.1em;
    --padding-end: 1.1em;
    background-color: #4b5fdc;
    color: #ffff;
    text-align: center;
    padding: 5px;
    width: 135px;
    height: 38px;
    margin-top: 4px;
}