          <!-- Seccion Trabajos-->

          <!-- HEADER-->

<ion-header no-border>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button  text="">
      </ion-back-button>
      </ion-buttons>
    
  </ion-toolbar>

  <!-- CATEGORIAS-->

  <ion-segment scrollable mode="md" color="primary">

 
  <ion-segment-button mode="md" value="marketing">
        <ion-label text-capitalize>
          marketing
        </ion-label>

  </ion-segment-button>
  <ion-segment-button mode="md" value="seguridad">
    <ion-label text-capitalize>
      seguridad
    </ion-label>

</ion-segment-button>
<ion-segment-button mode="md" value="ventas">
  <ion-label text-capitalize>
    ventas
  </ion-label>

</ion-segment-button>
<ion-segment-button mode="md" value="restaurante">
  <ion-label text-capitalize>
    restaurante
  </ion-label>

</ion-segment-button>
</ion-segment>
</ion-header>

<!-- CONTENIDO -  TRABAJOS - TARJETAS-->

<ion-content class="divk">

  <div class="divk">
  
  <ion-grid  fixed> <!-- GRID-->

    <ion-row>

      <ion-col   size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
                *ngFor="let post of posts">
        <ion-card class="divk">
          <ion-card-header>
            <ion-card-title class="title-card" color="light">Operativo de Servicios Post Venta</ion-card-title>
            
          </ion-card-header>

          <ion-card-content>
              <label class="post-requi1">
                
                  <ion-icon class="iconos" name="logo-buffer"></ion-icon>
                
              Descripcion:</label>

            <p class="post-text-content1 just">{{post.description}}</p>


             <label class="post-requi1">

              <ion-icon class="iconos" name="checkbox-outline"></ion-icon>

               Requisitos:</label>

            <p class="post-text-content1 just">{{post.description}}</p>

            <label class="post-requi1">

              <ion-icon name="location-outline"></ion-icon>

            Ubicación:</label>

           <p class="post-text-content1">Viña del Mar</p>

          <label class="post-requi1">

          <ion-icon class="iconos" name="time-outline"></ion-icon> 

          Horarios:</label>

            
             <p class="post-text-content1">Jornada 30 Hrs rotativo</p>
            <ion-row>
              <ion-col>

            <span>
              <ion-button> Postular</ion-button>
            </span>

          </ion-col>

          <ion-col>
                
            <div color="secondary" class="vacantes">
              <span><h2> VACANTES 4</h2> </span>
            </div>

          </ion-col>

        </ion-row>
          </ion-card-content>
        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  </div>

</ion-content>

