<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>FODA</ion-title> -->

      <ion-buttons slot="start" color="dark">
      <ion-back-button color="dark"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
             Foda
            </ion-card-title>
            <ion-card-subtitle>
              Realiza tu analizis rellenando el formulario
              </ion-card-subtitle>
        </ion-card-header>

       <ion-card-content>

                                <!--FORMULARIO-->
           <ion-item>
               <ion-input name="nombre" type="text" placeholder="Nombre">
                 <ion-icon name="person-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           <ion-item>
            <ion-input name="apellido" type="text" placeholder="Apellido">
              <ion-icon name="person-outline" ></ion-icon>
            </ion-input>
        </ion-item>
           <ion-item>
               <ion-input name="fecha" type="text" placeholder="Fecha de nacimiento: Ej. 02/10/1998">
                 <ion-icon name="calendar-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           <ion-item>
               <ion-input name="categoria" type="text" placeholder="Categoria: Ej. asesores de ventas">
                 <ion-icon name="briefcase-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           <ion-item>
            <ion-input name="rut" type="text" placeholder="Rut">
              <ion-icon name="card-outline"></ion-icon>
            </ion-input>
        </ion-item>
        
          

      
      <!--COMUNA - FORMULARIO-->
      <ion-item>
         <ion-label><ion-icon name="location-outline"></ion-icon> Comuna</ion-label>
        <ion-select required="true">
          <ion-select-option value="Quillota ">Quillota </ion-select-option>
          <ion-select-option value="La Calera">La Calera</ion-select-option>
          <ion-select-option value="Hijuelas">Hijuelas</ion-select-option>
          <ion-select-option value="Nogales">Nogales</ion-select-option>
          <ion-select-option value="La Cruz">La Cruz</ion-select-option>
        </ion-select>
</ion-item>


										<!--FODA - FORMULARIO-->

				<div class="separ">
				            <label> Amenazas:</label>
				           <ion-item>
				             
				           <ion-textarea class= "solid" name="amenazas" placeholder="(Situación que proviene del entorno, atentado contra la estabilidad laboral.)"> 
				            
				            </ion-textarea>

				           </ion-item>
				 </div>

				 <div class="separ">
				            <label> Fortalezas:</label>
				           <ion-item>
				             
				            
				            
				           <ion-textarea class= "solid" name="fortalezas" placeholder="(Capacidades y resultados con que cuenta la empresa.)"> </ion-textarea>

				           </ion-item>
				 </div>

				 <div class="separ">
				            <label> Debilidades:</label>
				           <ion-item>
				             
				           <ion-textarea class= "solid" name="debilidaes" placeholder="(Factores que provocan una posición desfavorable frente a la competencia.)"> 
				            
				            </ion-textarea>

				           </ion-item>
				 </div>

				 <div class="separ">
				            <label> Oportunidades:</label>
				           <ion-item>
				             
				           <ion-textarea class= "solid" name="oportunidades" placeholder="(Factores que resultan positivos y favorables en el entorno laboral.)"> 
				            
				            </ion-textarea>

				           </ion-item>
				 </div>

				 							<!--ENVIAR - FORMULARIO-->

				<div class="sign-btn-wrap pad">
              <ion-button  type="submit" shape="round"  fill="solid" class="sign-btn">Enviar ahora</ion-button>
             </div>

				           
		      

            
       </ion-card-content>

    </ion-card>

</ion-content>