<!--  ENCABEZADO -->

<ion-header class="ion-no-margin" class="ion-no-border translucent" >
  
  <ion-toolbar>
   <ion-item lines="none" color="primary" class="ion-no-border">

       
     <ion-avatar slot="end">
       <img src="assets/img/banner-2.jpg" class="altu">
     </ion-avatar>


     <!--  MENU -->

     <ion-buttons slot="start">
      <ion-back-button  text="">
      </ion-back-button>
      </ion-buttons>
 </ion-item>
</ion-toolbar>

 </ion-header>



<!--  IMAGEN PRINCIPAL -->

<ion-content>
  
  
  <div  class="videowraper section">

    <div class="container3"> 
      
      <div class="titleTop">
        <h3 class="titleTop">TE ORIENTAMOS</h3>
        <h5 class="subtitle">Aquí podrás encontrar información valiosa</h5>
        
      </div>
    
      <ion-button> BUSCACAR TRABAJO  </ion-button>
      
    </div>
  </div>


   <!--MATERIAL COMPLEMENTARIO-->

   <div class="container1 divk just">

    <h2>Material complementario</h2>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Cómo buscar empleo</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

       <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Actitudes positivas</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Claves para el empleo</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Competencias valoradas</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Comunicación en el trabajo</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Comunicación no verbal</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Contrato laboral</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Entrevista laboral</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Contrato laboral - Tríp</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Elaboración de CV</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Elaboración de CV - Tríp</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Entrevistas por competencia</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Planificación Ocupasional</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Inclusión laboral - Tríp</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Presentación personal</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Resolución de conflictos</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Selección desde la empresa - Tríp</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Servicios de empleabilidad</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Trabajo en equipo - inf</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item lines="none">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <ion-button color="light" fill="clear">
              <ion-icon slot="icon-only" name="document"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="9">
            <ion-label>
              <h4>PDF</h4>
              <h6>Uso de Tic´s</h6>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </div>

  <!--  ANALISIS FODA -->


  <div class="container">
    <p class="lp">Análisis Foda</p>
    <div class="h">
      <span class="linea"></span>

    </div>

    <p class="text2 just"><span class="text2 just">El módulo matriz FODA es un espacio donde podrán analizar y planificar los objetivos de tu búsqueda de empleo, es una instancia para conocerse mejor y trabajar los puntos bajos en el ámbito laboral y personal.</span>
    </p>
    <p class="text2 just"> <span class="text2 just"> El análisis FODA es una herramienta que te ayuda para que puedas identificar y contrastar tus fortalezas y debilidades, contra las oportunidades y amenazas que depara el mercado. ¡Inicia tu análisis ahora!</span>
    </p>

  </div>

  <div class="">
    <ion-img src="/assets/img/traineers.png"></ion-img>    

  </div>
  <span>
    <ion-button routerLink="/foda" expand="full" color="primary"> Iniciar Ahora</ion-button>
    </span>


    <!--  CURRICULUM -->

  <div class="fo centrado">

    <div class="separacion">
 
     <h3 class="sepracion">Aquí te enseñamos a realizar un curriculum vitae, ideal para iniciar un nuevo trabajo.</h3>
   <h1 class="sepracion">CONSTRUCCIÓN DE CV</h1>
 
   <ion-icon class="ico" name="caret-forward-circle-outline"></ion-icon> 
 
    </div>
     
 
   </div>

</ion-content>

  
  
      
<!-- PRUEBA -->



