<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>CONTACTO</ion-title> -->
    
     <ion-buttons slot="start" color="dark">
      <ion-back-button color="dark"></ion-back-button>
    
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
             Contacto
            </ion-card-title>
            <ion-card-subtitle>
              Comunicate con nosotros
              </ion-card-subtitle>
        </ion-card-header>

       <ion-card-content>

                                      <!--INFORMACION DE CONTACTO-->
       
                                <!--FORMULARIO-->
           <ion-item>
               <ion-input name="nombre" type="text" placeholder="Nombre">
                 <ion-icon name="person-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           
           <ion-item>
               <ion-input name="telefono" type="text" placeholder="Telefono No.">
                 <ion-icon name="call-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           <ion-item>
               <ion-input name="email" type="text" placeholder="Correo">
                 <ion-icon name="mail-outline" ></ion-icon>
               </ion-input>
           </ion-item>

           <ion-item>
         <ion-label><ion-icon name="location-outline"></ion-icon> Comuna</ion-label>
           <ion-select required="true">
          <ion-select-option value="Quillota ">Quillota </ion-select-option>
          <ion-select-option value="La Calera">La Calera</ion-select-option>
          <ion-select-option value="Hijuelas">Hijuelas</ion-select-option>
          <ion-select-option value="Nogales">Nogales</ion-select-option>
          <ion-select-option value="La Cruz">La Cruz</ion-select-option>
        </ion-select>
          </ion-item>
           

           <div class="separ">
                    <label> Mensaje:</label>
                   <ion-item>
                     
                   <ion-textarea class= "solid" name="descripcion" placeholder="Detalles"> 
                    
                    </ion-textarea>

                   </ion-item>
         </div>
           <div class="sign-btn-wrap pad">
              <ion-button  shape="round"  fill="solid" class="sign-btn">Enviar ahora</ion-button>
             </div>

             
            
            


            
       </ion-card-content>

    </ion-card>

</ion-content>

















