<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>CONTACTO</ion-title> -->
    
     <ion-buttons slot="start" color="dark">
      <ion-back-button color="dark"></ion-back-button>
    
      </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="bg-color">

    <ion-card class="ion-no-margin">

        <ion-card-header>
            <ion-card-title>
             Subir Curriculum
            </ion-card-title>
            
        </ion-card-header>

       <ion-card-content>

                                      <!--SUBIR CURRICULUM-->
        

                                <!--FORMULARIO-->
           <ion-item>
               <ion-input name="nombre" type="text" placeholder="Nombre">
                 <ion-icon name="person-outline" ></ion-icon>
               </ion-input>
           </ion-item>
           
          <div>
          	 <ion-input class=" desp separ" type="file"></ion-input>
          </div>
           

           <div class="separ">
            <label> Mensaje</label>
           <ion-item>
             
           <ion-textarea class= "solid" name="descripcion" placeholder="Descripción"> 
            
            </ion-textarea>

           </ion-item>
           </div>

           <div class="sign-btn-wrap">
              <ion-button  shape="round"  fill="solid" class="sign-btn">Enviar ahora</ion-button>
             </div>

             
            
            


            
       </ion-card-content>

    </ion-card>

</ion-content>






























